@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Microsoft YaHei", "SimHei", "Arial Unicode MS";
  overflow-x: hidden; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

h1, p, span, i, em {
  display: block;
  margin: 0;
  padding: 0; }

i, em {
  font-style: normal; }

a {
  display: block;
  text-decoration: none; }
  a:focus, a:hover, a:active, a:link {
    color: #333;
    text-decoration: none; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.rpt-header {
  height: 50px;
  width: 100%;
  padding: 5px 0;
  background-color: #FFF; }

.rpt-logo {
  float: left;
  height: 50px;
  width: 225px;
  background: url("../images/rippletec-icon.png") no-repeat;
  background-position: -46px -12px; }
  @media screen and (max-width: 480px) {
    .rpt-logo {
      margin: 0 auto;
      float: none; } }

.rpt-wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.rpt-menu {
  height: 50px;
  float: right;
  line-height: 50px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .rpt-menu {
      display: none; } }
  .rpt-menu li {
    width: 50px;
    font-size: 14px;
    float: left;
    position: relative;
    z-index: 99; }
    .rpt-menu li a {
      color: rgba(0, 0, 0, 0.8);
      -webkit-transition: color .3s ease;
      transition: color .3s ease;
      cursor: pointer; }
      .rpt-menu li a:hover {
        color: #00a4ff; }
    .rpt-menu li:hover .s-menu {
      z-index: 50;
      opacity: 1;
      visibility: visible; }
  .rpt-menu span {
    float: left;
    display: block;
    width: 1px;
    height: 10px;
    margin: 20px 5px;
    background: #ddd; }
  .rpt-menu .actived {
    color: #00a4ff; }

.s-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  top: 50px;
  left: -15px;
  width: 80px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  background: #fff; }
  .s-menu ul, .s-menu li, .s-menu i {
    margin: 0;
    padding: 0;
    display: block; }
  .s-menu li {
    width: 80px;
    line-height: 30px;
    padding: 5px 0;
    text-align: center; }

/**slidr**/
.rpt-activity-pic > .pogoSlider-nav {
  left: 915px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.pogoSlider-nav-btn {
  width: 12px;
  height: 12px; }

.rpt-banner {
  position: relative;
  height: 400px;
  padding-bottom: 0 !important; }
  .rpt-banner div[data-slidr] {
    width: 100%; }
  .rpt-banner .rpt-banner-bg, .rpt-banner .rpt-banner-front {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px; }
    @media screen and (max-width: 480px) {
      .rpt-banner .rpt-banner-bg, .rpt-banner .rpt-banner-front {
        max-width: 100%;
        height: 160px; } }
  @media screen and (max-width: 480px) {
    .rpt-banner {
      max-width: 100%;
      height: 160px; } }

.pogoSlider-progressBar, .pogoSlider-nav {
  z-index: 50; }

.rpt-banner-bg {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: absolute;
  background: url("../images/banner_end.png") no-repeat center center;
  background-size: cover;
  z-index: 1; }

.rpt-banner-front {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background: url("../images/banner_front.png") no-repeat center center;
  background-size: cover;
  z-index: 2; }

/*---动态---*/
.rpt-news {
  height: 240px;
  width: 100%;
  margin: 50px auto; }
  @media screen and (max-width: 480px) {
    .rpt-news {
      margin: 10px 0;
      overflow: hidden;
      height: auto; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: block; }

.rpt-news-left, .rpt-news-right {
  width: 485px;
  height: 240px;
  float: left; }
  @media screen and (max-width: 480px) {
    .rpt-news-left, .rpt-news-right {
      width: 100%;
      height: 280px; } }

.rpt-news-left {
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  @media screen and (max-width: 480px) {
    .rpt-news-left {
      display: none; } }
  .rpt-news-left .rpt-news-pic {
    position: absolute;
    width: 485px;
    height: 240px;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10; }
    .rpt-news-left .rpt-news-pic img {
      margin: 0;
      padding: 0;
      display: block;
      width: 485px;
      height: auto;
      overflow: hidden;
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .rpt-news-left .rpt-news-pic .showPic {
      visibility: visible;
      opacity: 1; }
    .rpt-news-left .rpt-news-pic .actived {
      visibility: visible;
      opacity: 1; }

.rpt-news-right .rpt-news-summary {
  width: 100%;
  height: 200px; }
  @media screen and (max-width: 480px) {
    .rpt-news-right .rpt-news-summary {
      width: 100%;
      height: 280px; } }

.rpt-news-right .rpt-news-title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ddd;
  margin-left: 15px; }
  @media screen and (max-width: 480px) {
    .rpt-news-right .rpt-news-title {
      display: none; } }
  .rpt-news-right .rpt-news-title a {
    float: right;
    font-size: 14px;
    color: #ddd;
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer; }
    .rpt-news-right .rpt-news-title a:hover {
      text-decoration: underline; }
  .rpt-news-right .rpt-news-title h1 {
    height: 29px;
    float: left;
    width: 73px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    font-size: 18px;
    color: #6fde2c;
    font-weight: normal;
    position: relative; }
    .rpt-news-right .rpt-news-title h1 i {
      width: 50px;
      height: 50px;
      position: absolute;
      top: -25px;
      left: -60px;
      border: 3px solid #6fde2c;
      z-index: 0; }

.rpt-news-right p {
  margin: 0;
  padding: 0; }

.rpt-news-right .actived .text-container {
  height: 40px; }

.rpt-news-right .rpt-news-item {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  cursor: pointer; }

.rpt-news-right .text-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  max-height: 20px;
  line-height: 20px;
  color: #333;
  text-align: left;
  padding: 10px 0;
  padding-left: 15px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .rpt-news-right .text-title {
      font-size: 16px;
      max-height: 30px;
      line-height: 30px; } }

.rpt-news-right .text-container {
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  height: 0;
  overflow: hidden;
  max-height: 40px;
  word-wrap: break-word;
  overflow: hidden;
  width: 470px;
  padding-left: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 20px; }

.rpt-news-right .showItem {
  height: 40px; }

/*---介绍---*/
.rippletec-intro {
  margin: 20px 0;
  margin-bottom: 0;
  width: 100%;
  height: 300px;
  background: url("../images/rippletec-intro.jpg") no-repeat center center;
  background-size: cover; }
  @media screen and (max-width: 480px) {
    .rippletec-intro {
      display: none; } }

.rippletec-intro-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 475px;
  background: url("../images/rippletec-icon.png") no-repeat center center;
  background-position: -376px -15px;
  z-index: 999; }

.rpt-dark-body {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 440px;
  background: rgba(210, 209, 209, 0.11); }
  @media screen and (max-width: 480px) {
    .rpt-dark-body {
      display: none; } }

.rpt-panel {
  position: absolute;
  top: 280px;
  width: 100%;
  height: 50px; }
  .rpt-panel .rpt-panel-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 60px;
    background: #ee4533;
    z-index: 15; }
    .rpt-panel .rpt-panel-left h1 {
      width: 100%;
      letter-spacing: 4px;
      height: 30px;
      margin-top: 30px;
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      text-align: right;
      text-indent: 4px; }
      .rpt-panel .rpt-panel-left h1 span {
        position: absolute;
        color: #ee4533;
        display: block;
        text-align: left;
        width: 100px;
        height: 30px;
        left: 250px;
        top: 30px; }
  .rpt-panel .rpt-panel-right {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: transparent;
    z-index: 10; }

.block-1-4 {
  width: 25%;
  height: 250px;
  float: left;
  position: relative; }
  @media screen and (max-width: 480px) {
    .block-1-4 {
      display: none; } }
  .block-1-4 span {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px; }

.icon {
  margin: 50px;
  width: 150px;
  height: 150px;
  margin-bottom: 0px;
  background: url("../images/rippletec-icon.png") no-repeat center center; }

.icon-mini {
  width: 65px;
  height: 60px;
  background: url("../images/rippletec-icon.png") no-repeat center center; }

.rpt-branch {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  position: absolute;
  top: -60px;
  left: 25px;
  z-index: 999;
  background: #fff; }
  .rpt-branch i {
    display: block;
    margin: 25px auto; }
  .rpt-branch h1 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8); }
  .rpt-branch p {
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }

.icon-1 {
  background-position: -27px -75px; }

.icon-2 {
  background-position: -227px -75px; }

.icon-3 {
  background-position: -427px -75px; }

.icon-4 {
  background-position: -627px -75px; }

.icon-5 {
  background-position: -69px -287px; }

.icon-6 {
  background-position: -269px -287px; }

.icon-7 {
  background-position: -469px -287px; }

.icon-8 {
  background-position: -669px -287px; }

/*-----活动------*/
.rpt-activity {
  margin-top: 200px;
  margin-bottom: 10px; }
  @media screen and (max-width: 480px) {
    .rpt-activity {
      display: none; } }

.pic-br {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden; }

.pic-br-left {
  width: 100px;
  height: 60px;
  float: left;
  background: url("../images/rippletec-icon.png") no-repeat center left;
  background-position: -544px -12px; }

.pic-br-right {
  width: 100px;
  height: 60px;
  float: right;
  background: url("../images/rippletec-icon.png") no-repeat center right;
  background-position: -544px -12px; }

.rpt-activity-pic {
  position: relative;
  overflow: hidden;
  height: 368px;
  margin: 20px auto;
  padding-bottom: 0 !important; }
  .rpt-activity-pic img {
    width: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    height: auto; }

/*---合作客户----*/
.rpt-partner {
  width: 100%;
  height: 302px;
  margin: 20px auto;
  margin-bottom: 100px;
  position: relative; }
  @media screen and (max-width: 480px) {
    .rpt-partner {
      display: none; } }
  .rpt-partner .rpt-partner-left {
    float: left;
    width: 800px;
    height: 302px;
    border: 1px solid #ddd; }
    .rpt-partner .rpt-partner-left dl, .rpt-partner .rpt-partner-left dd {
      display: block;
      margin: 0;
      padding: 0;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      visibility: visible;
      opacity: 1; }
    .rpt-partner .rpt-partner-left dl {
      width: 800px;
      height: 99px;
      background: #fff;
      border-bottom: 1px solid #ddd; }
      .rpt-partner .rpt-partner-left dl:last-child {
        height: 100px;
        border-bottom-width: 0px; }
    .rpt-partner .rpt-partner-left dd {
      width: 199px;
      height: 100px;
      float: left;
      overflow: hidden;
      border-right: 1px solid #ddd; }
      .rpt-partner .rpt-partner-left dd:last-child {
        width: 200px;
        border-right-width: 0px; }
      .rpt-partner .rpt-partner-left dd img {
        width: 100%;
        height: 99%;
        display: block; }
  .rpt-partner .rpt-panel-partner-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 60px;
    background: #33c5ee;
    z-index: 15; }
    @media screen and (max-width: 480px) {
      .rpt-partner .rpt-panel-partner-right {
        display: none; } }
    .rpt-partner .rpt-panel-partner-right h1 {
      width: 100%;
      letter-spacing: 4px;
      height: 30px;
      margin-top: 30px;
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      text-align: left; }
      .rpt-partner .rpt-panel-partner-right h1 span {
        position: absolute;
        color: #33c5ee;
        display: block;
        text-align: right;
        width: 100px;
        height: 30px;
        right: 254px;
        top: 30px; }

@media screen and (max-width: 480px) {
  .rpt-location {
    display: none; } }

.rpt-location img {
  width: 1000px;
  height: auto; }

.rpt-conchat {
  height: 120px;
  width: 663px;
  margin: 40px auto;
  background: url("../images/rippletec-icon.png") no-repeat;
  background-position: -46px -405px; }
  @media screen and (max-width: 480px) {
    .rpt-conchat {
      display: none; } }

/*------页脚-----*/
.rpt-footer {
  width: 100%;
  margin: 15px 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
  position: relative;
  z-index: 10;
  color: rgba(0, 0, 0, 0.5); }
  .rpt-footer p {
    line-height: 30px;
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 480px) {
    .rpt-footer {
      margin: 10px 0;
      padding-top: 10px;
      bottom: 0;
      left: 0; } }

/*------背景-----*/
.bg-canvas {
  width: 100%;
  position: relative; }
  @media screen and (max-width: 480px) {
    .bg-canvas {
      display: none; } }

#bg-canvas {
  width: 100%;
  height: 1820px;
  background: #fff;
  position: absolute;
  z-index: 1; }

.page-transform-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }

/*---最新动态--*/
.rpt-news-top-header {
  width: 100%;
  height: 170px;
  position: absolute;
  display: none;
  z-index: 1;
  background: url("../images/rippletec-new-header-bg.png") repeat-x center center;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.rpt-news-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px; }

.rpt-news-detail-container {
  position: relative;
  margin-top: 30px; }
  @media screen and (max-width: 480px) {
    .rpt-news-detail-container {
      margin-top: 0px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); } }

.rpt-news-container-title {
  width: 1000px;
  height: 80px; }
  .rpt-news-container-title h1, .rpt-news-container-title dl, .rpt-news-container-title dd {
    display: block;
    margin: 0;
    padding: 0; }
  .rpt-news-container-title h1 {
    float: left;
    width: 200px;
    margin-top: 20px;
    height: 90px;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    text-align: left;
    letter-spacing: 4px;
    position: relative; }
    .rpt-news-container-title h1 div {
      background: url("../images/rippletec-news-number.png") no-repeat left center;
      background-position: -67px 10px;
      position: absolute;
      width: 251px;
      height: 165px;
      bottom: 0;
      left: 0; }
  .rpt-news-container-title dl {
    float: right;
    margin-top: 20px; }
    .rpt-news-container-title dl dd {
      float: left;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      font-size: 16px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0px 10px;
      cursor: pointer;
      -webkit-transition: all .1s ease;
      transition: all .1s ease; }
      .rpt-news-container-title dl dd a {
        display: block;
        padding: 5px 25px;
        color: rgba(0, 0, 0, 0.4); }
  .rpt-news-container-title .actived {
    background: #70de2d;
    border-color: #70de2d; }
    .rpt-news-container-title .actived a {
      color: #fff; }

.rpt-news-list {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  line-height: 30px;
  min-height: 300px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease; }
  .rpt-news-list .text-center {
    text-align: center;
    font-size: 16px;
    line-height: 30px; }
  .rpt-news-list > li:last-child {
    border-bottom-width: 0; }
  .rpt-news-list li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 20px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer; }
    .rpt-news-list li:nth-child(1) em {
      background-position: 0 0; }
    .rpt-news-list li:nth-child(2) em {
      background-position: 0 -50px; }
    .rpt-news-list li:nth-child(3) em {
      background-position: 0 -100px; }
    .rpt-news-list li:nth-child(4) em {
      background-position: 0 -152px; }
    .rpt-news-list li:nth-child(5) em {
      background-position: 0 -203px; }
    .rpt-news-list li:nth-child(6) em {
      background-position: 0 -254px; }
    .rpt-news-list li:nth-child(7) em {
      background-position: 0 -305px; }
    .rpt-news-list li:nth-child(8) em {
      background-position: 0 -356px; }
    .rpt-news-list li:nth-child(9) em {
      background-position: 0 -407px; }
    .rpt-news-list li:nth-child(10) em {
      background-position: 0 -458px; }
    .rpt-news-list li em {
      width: 65px;
      height: 50px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: url("../images/rippletec-news-number.png") no-repeat left center; }
  .rpt-news-list a, .rpt-news-list span, .rpt-news-list i {
    float: left;
    display: block; }
  .rpt-news-list span {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5); }
  .rpt-news-list i {
    width: 50px;
    text-align: center;
    line-height: 24px;
    margin: 3px auto;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #f2f2f2;
    color: rgba(0, 0, 0, 0.4); }
  .rpt-news-list a {
    margin: 0;
    margin-left: 50px;
    color: #333;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 800px;
    height: 30px;
    text-indent: 20px;
    font-size: 18px; }
    .rpt-news-list a:hover, .rpt-news-list a:active, .rpt-news-list a:visited {
      color: #333; }

/*----动态详情----*/
.rpt-back-btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: float;
  text-align: center;
  background: #FFF;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .rpt-back-btn {
      display: none; } }

.rpt-new-detail {
  margin-top: 10px;
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  min-height: 300px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 480px) {
    .rpt-new-detail {
      border-width: 0;
      margin-top: 0;
      font-size: 12px; } }
  .rpt-new-detail img {
    max-width: 100%;
    height: auto; }
  .rpt-new-detail h1, .rpt-new-detail h2, .rpt-new-detail h3, .rpt-new-detail h4, .rpt-new-detail h5, .rpt-new-detail h6 {
    font-weight: bold;
    margin: 2em 0px 15px 0px; }
  .rpt-new-detail h1 {
    color: #000;
    font-size: 2em; }
  .rpt-new-detail h2 {
    font-size: 2em; }
  .rpt-new-detail h3 {
    font-size: 1.6em; }
  .rpt-new-detail h4 {
    font-size: 1.3em; }
  .rpt-new-detail h5 {
    font-size: 1em; }
  .rpt-new-detail h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1em; }
  .rpt-new-detail hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC; }
  .rpt-new-detail blockquote, .rpt-new-detail ul, .rpt-new-detail ol, .rpt-new-detail dl, .rpt-new-detail li, .rpt-new-detail table, .rpt-new-detail pre {
    margin: 15px 0; }
  .rpt-new-detail code, .rpt-new-detail pre {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit; }
  .rpt-new-detail code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px; }
  .rpt-new-detail pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px; }
  .rpt-new-detail pre > code {
    border: 0;
    margin: 0;
    padding: 0; }
  .rpt-new-detail a, .rpt-new-detail a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none; }
  .rpt-new-detail p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0; }
  .rpt-new-detail ol {
    margin: 0; }
    .rpt-new-detail ol li {
      display: list-item;
      list-style: square;
      margin: 0; }
  .rpt-new-detail ul {
    margin: 0; }
    .rpt-new-detail ul li {
      display: list-item;
      list-style: circle;
      margin: 0; }
  .rpt-new-detail table {
    border-spacing: 0px; }
  .rpt-new-detail th, .rpt-new-detail td {
    border-right: solid #DDD 1px;
    border-bottom: solid #DDD 1px;
    padding: 1em;
    text-align: left; }
  .rpt-new-detail tr > td:first-child {
    border-left: solid #DDD 1px; }
  .rpt-new-detail tbody > tr:first-child > td {
    border-top: solid #DDD 1px; }
  .rpt-new-detail .detail-title {
    width: 100%;
    font-size: 18px;
    margin: 5px 0;
    line-height: 30px;
    text-indent: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .rpt-new-detail .detail-tag {
    width: 100%;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .rpt-new-detail .detail-tag span, .rpt-new-detail .detail-tag i {
      float: left; }
    .rpt-new-detail .detail-tag span {
      width: 50px;
      text-align: center;
      line-height: 24px;
      margin: 3px auto;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      background: #f2f2f2;
      color: rgba(0, 0, 0, 0.4); }
    .rpt-new-detail .detail-tag i {
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.5); }

.rpt-nems-pagenation {
  height: 30px;
  padding: 10px 0;
  float: right; }
  .rpt-nems-pagenation .actived {
    background: #70de2d;
    color: #fff;
    border-color: #70de2d; }
  .rpt-nems-pagenation a {
    display: block;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 50px;
    font-size: 16px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px 10px;
    margin-right: 0;
    text-align: center; }

.rpt-new-detail-container {
  min-height: 300px; }
  .rpt-new-detail-container h1, .rpt-new-detail-container p, .rpt-new-detail-container div {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    visibility: visible;
    opacity: 1; }

.loadding {
  width: 100%;
  position: relative;
  z-index: 999;
  background: url("../images/rippletec-loadding.gif") no-repeat center center #FFF; }
  .loadding .rpt-news-item-btn {
    opacity: 0; }
  .loadding h1, .loadding p, .loadding div {
    opacity: 0;
    visibility: hidden; }
  .loadding dl, .loadding dd {
    opacity: 0;
    visibility: hidden; }
  .loadding .rpt-banner-bg, .loadding .rpt-banner-front {
    opacity: 0;
    visibility: hidden; }
  .loadding .rpt-news-item {
    opacity: 0;
    visibility: hidden; }
  .loadding .rpt-news-pic img {
    opacity: 0;
    visibility: hidden; }
