.rpt-banner{
	position:relative;
	height:400px;
	.rpt-banner-bg,.rpt-banner-front{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:400px;
	}
}
.rpt-banner-bg{
	background:url('../images/banner_end.png') no-repeat center center;
	background-size:cover;
	z-index:1;
}
.rpt-banner-front{
	background:url('../images/banner_front.png') no-repeat center center;
	background-size:cover;
	z-index:2;
}
