$activedColor:#00a4ff;
.rpt-header{
	height:50px;
	width:100%;
	padding:5px 0;
	background-color:#FFF;
}
.rpt-logo{
	float:left;
	height:50px;
	width:225px;
	background:url('../images/rippletec-icon.png') no-repeat;
	background-position:-46px -12px;
	@media screen and (max-width: 480px){
		margin:0 auto;
		float: none;
	}
}
.rpt-wrap{
	max-width: 1000px;
    width: 100%;
	margin:0 auto;
	position: relative;
	z-index:10;
}
.rpt-menu{
	height:50px;
	float:right;
	line-height:50px;
	text-align:center;
	@media screen and (max-width: 480px){
		display: none;
	}
	li{
		width: 50px;
		font-size: 14px;
		float: left;
		position:relative;
		z-index: 99;
		a{
			color: rgba(0,0,0,.8);
			transition: color .3s ease;
			cursor: pointer;
			&:hover{
				color:$activedColor;
			}
		}
		&:hover .s-menu{
			z-index:50;
			opacity: 1;
			visibility: visible;
		}
	}
	span{
		float: left;
		display: block;
		width: 1px;
		height: 10px;
		margin: 20px 5px;
		background:#ddd;
	}
	.actived{
		color: $activedColor;
	}
}
.s-menu{
	ul,li,i{
		margin:0;
		padding:0;
		display: block;
	}
	position:absolute;
	visibility:hidden;
	opacity:0;
	z-index:1;
	transition:all .2s ease;
	top:50px;
	left:-15px;
	width:80px;
	height: 40px;
	font-size:14px;
	text-align:center;
	background:#fff;
	li{
		width: 80px;
		line-height: 30px;
		padding:5px 0;
		text-align: center;
	}
}
