/*---动态---*/
.rpt-news{
	height:240px;
	width:100%;
	margin:50px auto;
}
.rpt-news-left,.rpt-news-right{
	width:485px;
	height:240px;
	float:left;
}
.rpt-news-left{
	margin-right:15px;
	border:1px solid rgba(0,0,0,.1);
	position:relative;
	.rpt-news-pic{
		position:absolute;
		width:485px;
		height:240px;
		top: 0;
		left: 0;
		background-color:#fff;
		z-index:10;
		img{
			margin:0;
			padding:0;
			display: block;
			width: 485px;
			height: auto;
			overflow: hidden;
			position:absolute;
			z-index: 9;
			top:0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			transition: all .3s ease;
		}
		.showPic{
			visibility: visible;
			opacity: 1;
		}
		.actived{
			visibility: visible;
			opacity: 1;
		}
	}
}
.rpt-news-right{
	.rpt-news-summary{
		width: 100%;
		height: 200px;
	}
	.rpt-news-title{
		width: 100%;
		height: 30px;
		border-bottom:1px solid #ddd;
		margin-left: 15px;
		span{
			float: right;
			font-size: 14px;
			color:#ddd;
			display: block;
			height: 30px;
			line-height: 30px;
			cursor:pointer;
			&:hover{
				text-decoration: underline;
			}
		}
		h1{
			height: 29px;
			float: left;
			width: 73px;
			border-bottom:1px solid #ddd;
			line-height: 30px;
			font-size: 18px;
			color:#6fde2c;
			font-weight: normal;
			position:relative;
			i{
				width: 50px;
			    height: 50px;
			    position: absolute;
			    top: -25px;
			    left: -60px;
			    border: 3px solid #6fde2c;
			    z-index: 0;
			}
		}

	}
		p{
			margin:0;
			padding:0;
		}
		.actived{
			.text-container{
				height: 40px;
			}
		}

		.rpt-news-item{
			overflow: hidden;
			opacity:1;
			visibility:visible;
			transition:all 1s ease-in;
			cursor: pointer;
		}
		.text-title{
			display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
			font-size:14px;
			max-height: 20px;
			line-height: 20px;
			color:#333;
			text-align: left;
			padding:10px 0;
			padding-left: 15px;
			cursor: pointer;
		}
		.text-container{
			transition:height .3s ease;
			height: 0;
			overflow: hidden;
			max-height: 40px;
			word-wrap:break-word; 
			overflow:hidden;
			width: 470px;
			padding-left: 15px;
			font-size:12px;
			color:rgba(0,0,0,.5);
			text-align: left;
			line-height: 20px;

		}
		.showItem{
			height: 40px;
		}
}
/*---介绍---*/
.rippletec-intro{
	margin:20px 0;
	margin-bottom:0;
	width:100%;
	height:300px;
	background:url('../images/rippletec-intro.jpg') no-repeat center center;
	background-size:cover;
}
.rippletec-intro-icon{
	position:absolute;
	display:block;
	width:50px;
	height:50px;
	top: -20px;
    left: 475px;
	background:url('../images/rippletec-icon.png') no-repeat center center;
	background-position:-376px -15px;
	z-index:999;
}
.rpt-dark-body{
	width:100%;
	position:relative;
	z-index:1;
	height:440px;
	background:rgba(210, 209, 209, 0.11);
}
.rpt-panel{
	position:absolute;
	top:280px;
	width:100%;
	height:50px;
	.rpt-panel-left{
		position:absolute;
		top:0;
		left: 0;
		width: 250px;
		height: 60px;
		background:#ee4533;
		z-index: 15;
		h1{
			width: 100%;
			letter-spacing:4px;
			height: 30px;
			margin-top: 30px;
			color: #fff;
			font-weight: normal;
			font-size: 18px;
			text-align:right;
			text-indent:4px;
			span{
				position:absolute;
				color:#ee4533;
				display: block;
				text-align: left;
				width: 100px;
				height: 30px;
				left: 250px;
				top: 30px;
			}
		}
	}
	.rpt-panel-right{
		position:absolute;
		width: 100%;
		top:0;
		left: 0;
		height: 60px;
		background:transparent;
		z-index: 10;
	}
}
.block-1-4{
	width:25%;
	height:250px;
	float:left;
	position:relative;
	span{
		display: block;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}
}
.icon{
	margin:50px;
	width:150px;
	height:150px;
	margin-bottom: 0px;
	background:url('../images/rippletec-icon.png') no-repeat center center;
}
.icon-mini{
	width: 65px;
    height: 60px;
	background:url('../images/rippletec-icon.png') no-repeat center center;
}
.rpt-branch{
	width:200px;
	height:200px;
	border:1px solid rgba(68,68,68,.1);
	position:absolute;
	top:-60px;
	left:25px;
	z-index:999;
	background:#fff;
	i{
		display: block;
		margin:25px auto;
	}
	h1{
		text-align: center;
		font-weight: normal;
		font-size:20px;
		line-height: 36px;
		text-align: center;
		color:rgba(0,0,0,.8);

	}
	p{
		text-align: center;
		line-height: 36px;
		font-size:16px;
		color:rgba(0,0,0,.5);
	}
}
.icon-1{
	background-position:-27px -75px;
}
.icon-2{
	background-position:-227px -75px;
}
.icon-3{
	background-position:-427px -75px;
}
.icon-4{
	background-position:-627px -75px;
}
.icon-5{
	background-position:-69px -287px;
}
.icon-6{
	background-position:-269px -287px;
}
.icon-7{
	background-position:-469px -287px;
}
.icon-8{
	background-position:-669px -287px;
}
/*-----活动------*/
.rpt-activity{
	margin-top:200px;
}
.pic-br{
	width:1000px;
	height:60px;
	margin:0 auto;
	overflow:hidden;
}
.pic-br-left{
	width:100px;
	height:60px;
	float:left;
	background:url('../images/rippletec-icon.png') no-repeat center left;
	background-position:-544px -12px;
}
.pic-br-right{
	width:100px;
	height:60px;
	float:right;
	background:url('../images/rippletec-icon.png') no-repeat center right;
	background-position:-544px -12px;
}
.rpt-activity-pic{
	position:relative;
	overflow:hidden;
	height:368px;
	margin:20px auto;
	padding-bottom:0 !important;
	img{
		width:1000px;
		position:absolute;
		left: 0;
		top:0;
		height:auto;
	}
}
/*---合作客户----*/
.rpt-partner{
	width:100%;
	height:302px;
	margin:20px auto;
	margin-bottom:100px;
	position:relative;
	.rpt-partner-left{
		float: left;
		width: 800px;
		height: 302px;
		border:1px solid #ddd;
		dl,dd{
			display: block;
			margin:0;
			padding:0;
			transition: all .2s ease;
			visibility: visible;
			opacity: 1;
		}
		dl{
			width: 800px;
			height: 99px;
			background:#fff;
			border-bottom:1px solid #ddd;
			&:last-child{
				height: 100px;
				border-bottom-width:0px;
			}
		}
		dd{
			width: 199px;
			height: 100px;
			float: left;
			overflow: hidden;
			border-right:1px solid #ddd;
			&:last-child{
				width: 200px;
				border-right-width:0px;
			}
			img{
				width: 100%;
				height: 99%;
				display: block;
			}
		}
	}
	.rpt-panel-partner-right{
		position:absolute;
		top:0;
		right: 0;
		width: 250px;
		height: 60px;
		background:#33c5ee;
		z-index: 15;
		h1{
			width: 100%;
			letter-spacing:4px;
			height: 30px;
			margin-top: 30px;
			color: #fff;
			font-weight: normal;
			font-size: 18px;
			text-align:left;
			span{
				position:absolute;
				color:#33c5ee;
				display: block;
				text-align: right;
				width: 100px;
				height: 30px;
				right: 254px;
				top: 30px;
			}
		}
	}
}
.rpt-location{
	img{
		width: 1000px;
		height: auto;
	}
}
.rpt-conchat{
	height:120px;
	width:663px;
	margin:40px auto;
	background:url('../images/rippletec-icon.png') no-repeat;
	background-position:-46px -405px;
}
/*------页脚-----*/
.rpt-footer{
	width:100%;
	height:40px;
	line-height:40px;
	margin:15px 0;
	border-top:1px solid #ddd;
	font-size:12px;
	text-align:center;
	position:relative;
	z-index:10;
	color:rgba(0,0,0,.5);
	p{
		margin:0;
		padding:0;
	}
}
/*------背景-----*/
.bg-canvas{
	width:100%;
	position:relative;
}
#bg-canvas {
  width: 100%;
  height: 2192px;
  background: #fff;
  position: absolute;
  z-index: 1;
}
.page-transform-mask{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9999;
}
/*---最新动态--*/
.rpt-news-top-header{
	width:100%;
	height:170px;
	position:absolute;
	display:none;
	z-index:1;
	background:url('../images/rippletec-new-header-bg.png') repeat-x center center;
	border-top:1px solid rgba(0,0,0,.1);
}
.rpt-news-container{
	position:relative;
	margin-top:100px;
}
.rpt-news-detail-container{
	position:relative;
	margin-top:30px;
}
.rpt-news-container-title{
	width:1000px;
	height:80px;
	h1,dl,dd{
		display: block;
		margin:0;
		padding:0;
	}
	h1{
		float: left;
		width: 200px;
		margin-top: 20px;
		height: 90px;
		font-size:28px;
		font-weight: normal;
		line-height: 40px;
		text-align: left;
		letter-spacing:4px;
		position:relative;
		div{
			background:url('../images/rippletec-news-number.png') no-repeat left center;
			background-position: -67px 10px;
			position:absolute;
			width: 251px;
			height: 165px;
			bottom:0;
			left: 0;
		}
	}
	dl{
		float: right;
		margin-top: 20px;
		dd{
			float: left;
			padding:5px 25px;
			border-radius:20px;
			font-size:16px;
			background:#fff;
			border:1px solid rgba(0,0,0,.1);
			margin:0px 10px;
			color: rgba(0,0,0,.4);
			cursor: pointer;
			transition:all .1s ease;
		}
	}
	.actived{
		background:#70de2d;
		color: #fff;
		border-color:#70de2d;
	}
}
.rpt-news-list{
	width:100%;
	overflow:hidden;
	font-size:14px;
	color:#333;
	line-height:30px;
	min-height: 200px;
	transition:all .2s ease;
	li{
		width: 100%;
		border-bottom:1px solid rgba(0,0,0,.1);
		margin-top: 10px;
		padding-top: 20px;
		position:relative;
		padding-bottom:10px;
		cursor: pointer;
		&:nth-child(1){
			em{
				background-position: 0 0;
			}
			
		}
		&:nth-child(2){
			em{
				background-position: 0 -50px;
			}
			
		} 
		&:nth-child(3){
			em{
				background-position: 0 -100px;
			}
		} 	
		&:nth-child(4){
			em{
				background-position: 0 -152px;
			}
			
		} 
		&:nth-child(5){
 			em{
 				background-position: 0 -203px;
 			}
		} 
		&:nth-child(6){
			em{
				background-position: 0 -254px;
			}
		} 
		&:nth-child(7){
			em{
				background-position: 0 -305px;
			}
		} 
		&:nth-child(8){
			em{
				background-position: 0 -356px;
			}
		} 
		&:nth-child(9){
			em{
				background-position: 0 -407px;
			}
		} 
		&:nth-child(10){
			em{
				background-position: 0 -458px;
			}
		}  
		em{
			width: 65px;
			height: 50px;
			position: absolute;
			top: 0px;
			left: 0px;
			background:url('../images/rippletec-news-number.png') no-repeat left center;
			
		}
		
	}
	p,span,i{
		float: left;
		display: block;
	}
	span{
		margin-left: 20px;
		color:rgba(0,0,0,.5);
	}
	i{
		width: 50px;
		text-align: center;
		line-height: 24px;
		margin:3px auto;
		border-radius:15px;
		background: #f2f2f2;
		color:rgba(0,0,0,.4);
	}
	p{
		margin:0;
		margin-left: 50px;
		display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
		width: 800px;
		height: 30px;
		text-indent: 20px;
		font-size: 18px;
	}
}
/*----动态详情----*/
.rpt-back-btn{
	width:80px;
	height:30px;
	line-height:30px;
	float:float;
	text-align:center;
	background:#FFF;
	border-radius:15px;
	border:1px solid rgba(0,0,0,.1);
	cursor:pointer;
}
.rpt-new-detail{
	margin-top:10px;
	padding:20px;
	border-radius:3px;
	background-color:#FFF;
	min-height:300px;
	border:1px solid rgba(0,0,0,.1);
	h1{
		width: 100%;
		font-size: 18px;
		margin:5px 0;
		line-height: 30px;
		text-indent: 5px;
		display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	}
	p{
		width: 100%;
		margin-top: 5px;
		height: 30px;
		line-height: 30px;
		padding-bottom:20px;

		border-bottom:1px solid rgba(0,0,0,.1);
		span,i{
			float: left;
		}
		span{
			width: 50px;
			text-align: center;
			line-height: 24px;
			margin:3px auto;
			border-radius:15px;
			background: #f2f2f2;
			color:rgba(0,0,0,.4);
		}
		i{
			margin-left: 20px;
			color:rgba(0,0,0,.5);
		}
	}

}
p{
	width:100%;
	height:30px;
	margin:20px auto;
}
.rpt-nems-pagenation{
	height:30px;
	padding:0;
	float:right;
	.actived{
		background:#70de2d;
		color: #fff;
		border-color:#70de2d;
	}
	a{
		display: block;
		cursor: pointer;
		float: left;
		height: 24px;
		line-height: 24px;
		width: 50px;
		font-size: 16px;
		border-radius:12px;
		color:rgba(0,0,0,.3);
		border:1px solid rgba(0,0,0,.1);
		margin:2px 10px;
		margin-right: 0;
		text-align: center;
	}
}
.rpt-new-detail-container{
	min-height: 300px;
	h1,p,div{
		transition: all .2s ease;
		visibility: visible;
		opacity: 1;
	}
}
.loadding{
	width: 100%;
	position:relative;
	z-index:999;
	background:url('../images/rippletec-loadding.gif') no-repeat center center #FFF;
	h1,p,div{
		opacity: 0;
		visibility: hidden;
	}
	dl,dd{
		opacity: 0;
		visibility: hidden;
	}
	.rpt-banner-bg,.rpt-banner-front{
		opacity: 0;
		visibility: hidden;
	}
	.rpt-news-item{
		opacity: 0;
		visibility: hidden;
	}
	.rpt-news-pic{
		img{
			opacity: 0;
			visibility: hidden;
		}
	}
}